*.o
*.obj
*.iobj
*.a
*.lib
*.exp
*.ilk
*.dll
*.so*
*.plist
*.gch
*.pdb
*.ipdb
*.class
*.jar
*.pc
ipcalc
ipcalc.exe
libipcalc.h
buildCMakeCache.txt
CMakeFiles
cmake_install.cmake
build/
cmake-build-debug/
x64
Release
Debug
data/ipcalc.h
java/out
Makefile.win
